extends layout
block content
  .container
    .box.box--1
      p 1
    .box.box--2
      p 2
    .box.box--3
      p 3
    .box.box--4
      p 4
    .box.box--5
      p 5
    .box.box--6
      p 6
    .box.box--7
      p 7
    .box.box--8
      p 8
    .box.box--9
      p 9
    .box.box--10
      p 10
    .box.box--11
      p 11
    .box.box--12
      p 12
